/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
- Custom CSS
*/



/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 2%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.65em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background: #F7F7F7;
}

.row, .columns, header {
  margin-top: 1em;
  margin-bottom: 1em;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h2, h3, h4, h5 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 2.75rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

p, li {
  font-size: 1.8rem;
}

small {
  font-size: 65%;
  color: #888;
}

/* Larger than phablet */

@media (min-width: 550px) {
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3.4rem;
  }
  h4 {
    font-size: 2.8rem;
  }
  h5 {
    font-size: 2.2rem;
  }
}

.blue-text {
  color: #0066CC;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: #1EAEDB;
}

a:hover {
  color: #0FA0CE;
}



/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover, .button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-orange {
  color: #FFF;
  background-color: #FB8936;
  border-color: #FB8936;
  margin-top: .75rem;
  margin-bottom: 0;
}

.button.button-orange:hover, .button.button-orange:focus {
  color: #FFF;
  background-color: #FB6C04;
  border-color: #FB6C04;
}

.navigation a {
  color: #000;
}

.navigation a.login {
  background: #1EAEDB;
  color: #FFF;
}

.navigation a.login:hover {
  background: #0FA0CE;
  color: #FFF;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Removes awkward default styles on some inputs for iOS */

label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

input[type="checkbox"] {
  display: inline;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: circle inside;
}

ul {
  padding-left: 0;
  margin-top: 0;
}

li {
  margin-bottom: 0;
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  margin-bottom: 1rem;
}

input {
  margin-bottom: 1.5rem;
}

ul {
  margin-bottom: 2.5rem;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.align-top {
  display: inline;
  vertical-align: top;
}

.pos-relative {
  position: relative;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.m-tb-1 {
  margin: 1em 0;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-t-minus-2 {
  margin-top: -2rem;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-tb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-t-1 {
  margin-top: 1em;
}

.m-t-3 {
  margin-top: 3em;
}

.m-0 {
  margin: 0 !important;
}

.w-100 {
  width: 100% !important;
}


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grey-feature {
  background: #E7E7E7;
  padding: 20px 20px 0;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.limited-time-offer {
  position: absolute;
  bottom: 0;
  right: -10px
}

.download-links img {
  max-width: 125px;
  max-height: 100px;
  position: relative;
}

.ios-store {
  bottom: 2px;
}

.chrome-extension {
  margin-top: 5px !important;
}

.plus-list {
  list-style: none;
  margin-bottom: 0;
  position: relative;
  bottom: 3rem;
}

.plus-list > li {
  margin-bottom: -1rem;
  line-height: 1;
}

.plus-list > li:before {
  content: '+';
  font-size: 4rem;
  margin-right: 1rem;
  position: relative;
  top: 8px;
}


@media screen and ( max-width: 1000px ) {
  .four.columns.offset-by-two.special-width {
    margin-left: 0 !important;
    width: 48%;
  }
  .four.columns.special-width {
    width: 48%;
  }
}
@media screen and ( max-width: 650px ) {
  .four.columns.offset-by-two.special-width {
    margin-left: 0;
    width: 100%;
  }
  .four.columns.special-width {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and ( min-width: 1280px ) {
  .four.columns.special-width {
    min-height: 298px;
  }
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Self Clearing Goodness */

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */


/* Larger than phablet (also point when grid becomes active) */


/* Larger than tablet */


/* Larger than desktop */


/* Larger than Desktop HD */


/* Custom CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.title {
  text-align: center;
}

.container {
  max-width: 1000px;
}

footer {
  background: #333;
  color: #8A8B86;
  padding-top: 6px;
  margin-top: 3rem;
  min-height: 15px;
}


.footer-links {
  list-style: none;
  line-height: 0;
  margin: 0;
}

.footer-links li {
  font-size: 12px;
  margin-top: .8rem;
}

.footer-links li > a {
  color: #AAAAAA;
}

.footer-links li > a:hover {
  color: #8A8B86;
  cursor: pointer;
}

.footer-links li {
  display: inline-block;
}

li > a {
  text-decoration: none;
}

/* navigation */

.navigation {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  height: 44px;
  z-index: 3;
  top: 0;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.navigation li a {
  display: block;
  padding: 8px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.navigation li a:hover,
.navigation .menu-btn:hover {
  background-color: #f4f4f4;
}

.navigation .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 0 5px;
  text-decoration: none;
}

.navigation .logo > img {
  width: 90%;
}

/* menu */

.navigation .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.navigation .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 22px 20px;
  position: relative;
  user-select: none;
  margin-top: 0;
}

.navigation .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navigation .menu-icon .navicon:before,
.navigation .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navigation .menu-icon .navicon:before {
  top: 5px;
}

.navigation .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.navigation .menu-btn {
  display: none;
}

.navigation .menu-btn:checked ~ .menu {
  min-height: 206px;
  position: relative;
  top: -7px;
}

.navigation .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navigation .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navigation .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .navigation li {
    float: left;
    margin-bottom: 0;
  }
  .navigation li a {
    padding: 8px 30px;
  }
  .navigation .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navigation .menu-icon {
    display: none;
  }
}


.value-prop {
  margin-top: 1rem;
}

.value-props {
  margin-top: 4rem;
  margin-bottom: 0rem;
}

.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0;
}

.value-props-img {
  width: 100%;
}

.img-responsive {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.masonry { /* Masonry container */
  column-count: 1;
  column-gap: 1.5em;
}

.faq-box {
  box-shadow: 1px 1px 1px rgba( 0,0,0,0.2 );
  background: #FBFBFB;
  display: inline-block;
  margin: .5em auto;
  width: 90%;
  padding: 5px 20px;
}


/* Larger than phone */
@media (min-width: 550px) {
  header {
    margin-top: 7rem;
  }
  footer {
    margin-top: 0;
  }
  .value-props {
    margin-top: 3rem;
  }
  .value-img {
    margin-bottom: 1rem;
  }
  .img-responsive {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1.5em;
  }  
}


/* Larger than tablet */

@media (min-width: 750px) {
  .masonry { /* Masonry container */
    column-count: 3;
    column-gap: 1.5em;
  }  
  
  /* Popover */
  .popover-item:first-child .popover-link:after, .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px;
  }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .popover-item {
    padding: 0;
    margin: 0;
  }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem;
  }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0;
  }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0;
  }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0;
  }
  .popover-link:hover, .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0;
  }
}

@media (min-width: 550px) and (max-width: 1150px) {
  .value-props-img {
    width: 90% !important;
  }
}